html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 80vh;
}

.welcome-ground {
    background-color: gray;
}

.welcome-text {
  color: white;
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
}

.welcome-text:hover {
    color: white;
}

.welcome-text::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    transform: scale(0, 1);
    transform-origin: center top;
    transition: transform .3s;
  }
  .welcome-text:hover::after {
    transform: scale(1, 1);
  }

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.center {
    text-align: center;
}

.button_wrapper{
    text-align: center;
 }

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.table {
    border:"1";
    width:100%;
}

.table a {
    color: #636b6f;
}

.table a:hover {
    text-decoration: underline; 
}

.btn-sticky {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #f7f7f7;
    border-left: solid 6px gray;/*左線*/
    color: gray;/*文字色*/
    font-weight: bold;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  }

.btn-sticky:active {
  box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
  transform: translateY(2px);
}

a:hover {
  text-decoration: none;
  color: gray;
}

/* Welcom.blade.html animation */
.loading span {
    position: relative;
    display: inline-block;
    margin: 0 -.05em;
    color: rgba(0, 0, 0, .2);
    font-size: 80px;
  }
  .loading span::after {
    position: absolute;
    top: 0;
    left: 0;
    content: attr(data-text);
    color: #fff;
    opacity: 0;
    transform: rotateY(-90deg);
    animation: loading 4s infinite;
  }
  .loading span:nth-child(2)::after {
    animation-delay: .2s;
  }
  .loading span:nth-child(3)::after {
    animation-delay: .4s;
  }
  .loading span:nth-child(4)::after {
    animation-delay: .6s;
  }
  .loading span:nth-child(5)::after {
    animation-delay: .8s;
  }
  .loading span:nth-child(6)::after {
    animation-delay: 1s;
  }
  .loading span:nth-child(7)::after {
    animation-delay: 1.2s;
  }
  @keyframes loading {
    0%, 75%, 100% {
      transform: rotateY(-90deg);
      opacity: 0;
    }
    25%, 50% {
      transform: rotateY(0);
      opacity: 1;
    }
  }

.bookimage {
  max-width: 50%;
  margin: 0 auto;
}

figure.photo-detail__pane.photo-detail__image {
  margin: 1rem 0 0 0;
}

/* 検索フォーム */
.search-form{
  padding: 30px 30px;
  text-align: center;
}

.search-input{
  width: 300px;
  border-radius: 5px;
  height: 50px;
}

.search-button{
  border-radius: 5px;
  height: 50px;
  width: 50px;
}
